@import url('reset.css');

/* --------------Fonts------------- */
@font-face {
    font-family: Lato-Regular;
    src: url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: Lato-Bold;
    src: url('../fonts/Lato/Lato-Bold.ttf');
}
@font-face {
    font-family: Eurofurence;
    src: url('../fonts/Eurofurence/eurof55.ttf');
}

/* HTML elements */
html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

a:hover { color: red}

/* Layout */

@media (min-width: 750px) {
    .wrapper {
        max-width: 980px;
        margin: 0 auto;
    }
}
/* Modal */

.modal-screen {
    z-index: 1;
    background-color: #5c5959da;
    position: fixed;
    height: 100vh;
    width: 100vw;
    visibility: hidden;
    opacity: 0;
    transition: all .6s;
}

.modal-screen.show {
    visibility: visible;
    opacity: 1;
}

.blog-modal {
    position: fixed;
    background-color: #c2c2c2;
    height: 100vh;
    width: 100vw;
    box-shadow: 0 0 6px 1px #1d1d1d;
    justify-content: center;
}

.blog-modal * {
    margin: 5px 5px;
}

.modal-title {
    text-align: center;
}

.blog-modal p {
    margin: 5px 20px;
}

.btn-modal-close {
    width: 180px;
    height: 45px;
    border: 2px solid #1d1d1d;
    background-color: #ffffff;
    border-radius: 40px;
    margin: 0px;
    cursor: pointer;
    color: #1d1d1d;
    font-family: Lato-Regular, serif;
    font-weight: 700;
    line-height: 20px;
    outline: none;
    transition: all .3s;
}

.btn-modal-close:hover {
    border: 2px solid #58c93a;
    color: #58c93a; 
}

@media (min-width: 750px) {
    .blog-modal {
        position: static;
        margin: 30px auto;
        width: 50%;
        height: 50%;
        justify-content: space-around;
    }
}
/* Header */

.main-header {
    height: 80px;
    box-shadow: inset 0 -6px 0 #1e1e1e;
    background-color: #292929;
    color: #ffffff;
    position: fixed;
    width: 100%;
    line-height: 70px;
}

.logo {
    font-family: Eurofurence, serif;
    font-size: 40px;
    font-weight: 400;
}

.logo-header {
    padding-left: 0.30em;
}

.logo a {
    color: inherit;
}

.span-logo-dot {
    color: #58c93a;
}

.main-nav {
    flex-direction: column;
    top: 80px;
    height: 0vh;
    width: 100%;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    background-color: #c2c2c2da;
    transition: all .8s;
}

.main-nav.show {
    visibility: visible;
    opacity: 1;
    height: 100vh;
}

.nav-link {
    margin: 5px 20px;
    height: 50px;
    border: 1px solid #ffffff;
    background-color: #292929;
    color: inherit;
    text-shadow: 0 1px 0 #1e1e1e;
    font-family: Lato-Regular, sans-serif;
    font-weight: 700;
    font-size: 2em;
    transition: all .3s;
}

.nav-link:hover {
    color: #58c93a;
}

.btn-toggle-nav {
    cursor: pointer;
    display: block;
    border: none;
    background: none;
    border: 1px solid #1d1d1d;
    color: inherit;
    text-shadow: 0 1px 0 #1e1e1e;
    font-family: Lato-Regular, sans-serif;
    font-weight: 700;
    font-size: 24px;
    outline:none;
    margin-right: 0.30em;
    transition: all .3s;
}
.btn-toggle-nav:hover {
    color: #58c93a;
}

.btn-toggle-nav:active {
    border: 1px solid #58c93a;
}

@media (min-width: 750px) {
    .main-header {
        position: static;
        height: 130px;
    }
    .btn-toggle-nav {
        display: none;
    }
    .main-nav {
        flex-direction: row;
        position: static;
        height: auto;
        width: auto;
        background: none;
        visibility: visible;
        opacity: 1;
    }
    .main-nav.show {
        height: auto;
    }
    .nav-link {
        border: none;
        margin: auto;
        font-size: 1em;
        width: 100px;
        height: 130px;
        color: inherit;
        box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #1e1e1e;
        text-shadow: 0 1px 0 #1e1e1e;
        font-family: Lato-Regular, sans-serif;
        font-weight: 700;
        transition: all .3s;
    }
    .nav-link:hover {
        color: #58c93a;
        box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
    }
    .nav-link:last-child {
        box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d, inset 0 -6px 0 #1e1e1e;;
    }
    .nav-link:last-child:hover {
        box-shadow: -1px 0 0 #1d1d1d, inset -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
    }
    .logo-header {
        margin-left: 1em;
        padding: 0;
    }
    .main-nav {
        margin-right: 1em;
        padding-right: 1.250em;
    }
}
@media (min-width: 1200px) {
    .nav-link {
        width: 130px;
    }
}

/* Navbar Dropdown Menu */

.nav-dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 0;
    visibility: hidden;
    opacity: 0;
    background-color: #1d1d1d;
    width: 60%;
    transition: opacity .3s;
}

.nav-dropdown-content.show {
    visibility: visible;
    height: auto;
    opacity: 1;
}

.dropdown-link {
    text-align: center;
    border-bottom: 1px solid #1d1d1d;
    padding: 5px 0;
    width: 100%;
    background-color: #292929;
    color: inherit;
    text-shadow: 0 1px 0 #1e1e1e;
    font-family: Lato-Regular, sans-serif;
    font-weight: 700;
    font-size: 0.75em;
}
.dropdown-link:last-child {
    box-shadow: inset 0 -6px 0 #58c93a;
}
.dropdown-link:hover {
    color: #58c93a;
}
@media (min-width: 750px) {
    .nav-dropdown-content {
        position: absolute;
        height: auto;
        margin: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: flex;
        visibility: hidden;
        z-index: 1;
        opacity: 0;
        width: 130px;
        transition: opacity .6s;
    }
    .nav-dropdown-content.show {
        visibility: hidden;
    }
    .dropdown-link {
        text-align: center;
        border-bottom: 1px solid #1d1d1d;
        padding: 5px 0;
        width: 100%;
        background-color: #292929;
        color: inherit;
        text-shadow: 0 1px 0 #1e1e1e;
        font-family: Lato-Regular, sans-serif;
        font-weight: 700;
        font-size: 0.75em;
    }
    .dropdown-link:last-child {
        box-shadow: inset 0 -6px 0 #58c93a;
    }
    .dropdown-link:hover {
        color: #58c93a;
    }
    .nav-link-container:hover .nav-dropdown-content {
        visibility: visible;
        opacity: 1;
    }
}

/* Blog Container */

.blog-container {
    background-color: #ffffff;
    font-family: Lato-Regular, sans-serif;
    margin: 0 1em;
    justify-content: center;
}

.blog-info {
    max-height: 305px;
}

.blog-item {
    padding: 5px;
    margin-bottom: 30px;
    flex-direction: column;
}

.blog-item:first-child {
    margin-top: 90px;
}

.blog-image:first-child {
    margin-top: 30px;
}

.blog-image {
    object-fit: cover;
    margin-bottom: 30px;
}

.blog-title {
    font-family: Lato-Regular, sans-serif;
    height: 50px;
    color: #4f4e4e;
    font-size: 1.750em;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.blog-txt {
    margin-bottom: 20px;
    /* height: 85px; */
    color: #606060;
    font-weight: 400;
    line-height: 20px;
}

.blog-txt p:first-child {
    margin-bottom: 15px;
}

.btn-continue {
    width: 180px;
    height: 45px;
    border: 2px solid #c2c2c2;
    background-color: #ffffff;
    border-radius: 40px;
    margin: 0px;
    cursor: pointer;
    color: #c2c1c1;
    font-family: Lato-Regular, serif;
    font-weight: 700;
    line-height: 20px;
    outline: none;
    transition: all .8s;
}

.btn-continue:hover {
    width: 205px;
    border: 2px solid #58c93a;
    color: #58c93a;
    background-color: #ffffff;
}

.btn-continue:hover::after {
    content: "  →";
}

.btn-page-container {
    border-top: 1px solid #e1e0e0;
    width: 100%;
}

.btn-page-select {
    color: #818181;
    font-family: Lato-Regular, sans-serif;
    font-size: 1.125em;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    margin: 30px 0px;
    outline: none;
    cursor: pointer;
}

@media (min-width: 750px) {
    .blog-item {
        padding: 0;
    }
    .blog-image:first-child {
        margin-top: 0;
    }
    .blog-image {
        margin: 0;
    }
    .blog-title {
        margin-bottom: 50px;
    }
    .blog-txt {
        margin-bottom: 45px;
    }
    .btn-continue {
        margin: 0;
        height: 45px;
    }
    .btn-page-select {
        margin: 30px 30px;
    }
}
@media (min-width: 860px) {
    .blog-container {
        margin: none;
        border: 1px solid #e1e0e0;
        border-bottom: none;
    }
    .blog-item {
        flex-direction: row;
        max-width: none;
        box-shadow: none;
        margin: 0;
        margin-bottom: 80px;
    }
    .blog-item:first-child {
        margin: 80px 0;
    }
    .blog-image {
        width: 100%;
        object-fit: contain;
        margin-bottom: none;
        margin-right: 30px;
        margin-left: 20px;
        padding: 0;
    }
   
    .blog-txt {
        margin-bottom: 20px;
    }
}
@media (min-width: 1200px) {
    .blog-container {
        margin: 0 1em;
    }
    .blog-title {
        margin-bottom: 60px;
    }
    .blog-txt {
        margin-bottom: 45px;
    }
}

/* Footer  */

.main-footer {
    height: 315px;
    box-shadow: inset 0 1px 0 #e1e0e0;
    background-color: #f8f8f8;
}

.logo-footer { 
    margin-bottom: 30px;
}

.footer-text {
    height: 10px;
    color: #a6a6a6;
    font-family: Lato-Regular, sans-serif;
    font-size: 0.813em;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
}

.footer-link {
    color: #939292;
    font-family: Lato-Bold;
    font-weight: 700;
    letter-spacing: 0.39px;
}

.social-media-container > * {
    height: 40px;
    width: 40px;
    background-color: #e5e5e5;
    cursor: pointer;
}

.social-media-container > *:not(last-child) {
    margin-right: 20px;
}

.social-media-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
}

.social-media-link.fb:hover {
    background-color: #516fad;
}

.social-media-link.twitter:hover {
    background-color: #1da1f2;
}

.social-media-link.be:hover {
    background-color: #105bf2;
}

.social-media-link.dribble:hover {
    background-color: #e54786;
}

/*------------ Helpers -------------- */

/* Flexbox */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-even {
    justify-content: space-evenly;
}

/* text */
.logo-letter-spacing {
    letter-spacing: 0.8px;
}

.link-first-letter {
    letter-spacing: -0.8px;

}

.blog-title-intro {
    letter-spacing: 0.85px;
}